@charset "utf-8";

.start-page {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #9b17cf, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
.glass {
  position: relative;
  padding: 4vh 5vw;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(5px);
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* .logo {
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
  padding: 0px 40px 0px 40px;
  margin-bottom: 20px;
} */

.logoimg {
  width: 10vh;
}

.form h2 {
  position: relative;
  color: whitesmoke;
  font: 25px 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: whitesmoke 3px solid;
}

.inputbox {
  width: 100%;
  margin-top: 20px;
}

.form input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: whitesmoke;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form input::placeholder {
  color: whitesmoke;
}

a:link,a:hover,a:visited,a{
  color:whitesmoke;
  text-decoration: none;
}
